.categoryBar {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
  }
  
    
    .categoryButton {
      padding: 0.5rem 1rem;
      border: none;
      background-color: #f1f1f1;
      color: black;
      border-radius: 10px; 
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .categoryButton:hover {
      background-color: #e2e2e2;
    }
    
    .active {
      background-color: black;
      color: white;
    }
    